html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h3{
  border-bottom: 1px solid #9fcdff;
}

body {
  font-family: Arial, serif;
  color: white;
  background: #09416D;
  overflow: auto;
}

.main{
  display: flex;

}

.taskList{
  display: flex;
  flex-direction: column;

  min-width: 300px;
}
#workArea{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  position: sticky;
  top:0;
}

.taskListItem{
  background-color: #0078D7;
  padding: 5px 10px;
  margin: 5px 10px;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid #0078D7;
}

.taskListItem.disabled{background-color: #5a6268;border: 1px solid #5a6268;}
.taskListItem.disabled:hover{background-color: #5a6268;cursor: not-allowed;border-color: #5a6268}

.taskListItem.complete{background-color: #6bff8c;color: black;}

.taskListItem:hover{
  background-color: #005cbf;
  transition: background-color .5s ease;
  border: 1px solid #7abaff;
}

.taskListItem p{padding: 0;margin: 0;}

.partsList{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.partsList .item{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.partsList .item .workName{
  display: flex;
  flex: 1;
}

.partsList .item .input{
  display: flex;
  flex: 1;
}

.partsList .item .employee{
  display: flex;
  flex: 1;
}

#recommendation{
  margin-bottom: 10px;
}

.taskListError{
  margin-top: 20px;
}

.loader{
  align-self: center;
  margin-top: 50px;
  width: 50px;
  height: 50px;
}

#alert{
  position: fixed;
  bottom: 0;
  width: 60%;
  text-align: center;
  left: 20%;
}

.hide{
  opacity: 0;
  transition: opacity 0.5s ease;
}

.content{}